<!DOCTYPE html>
<html lang="en">

<?php include('basic/header.html'); ?>

<body>
    <div class='wrapper'>
        <?php include('basic/topbar.html'); ?>
    </div>
    <div class='box1'>
        <div class='row'>
            <div class='col-md-9'>
                <div class='row'>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/ezIkcxv.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/j4dYIFM.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/ZrJL2d2.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/tRfyJC3.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/ezIkcxv.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/j4dYIFM.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/tRfyJC3.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/ezIkcxv.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/T78chLG.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/ezIkcxv.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/T78chLG.png"></a>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1-9-px-0'>
                        <a href="/"><img src='https://i.imgur.com/KEZ1eto.png'></a>
                    </div>
                    <div class='col-md-7-9-px-0'>
                        <img src='https://i.imgur.com/6e5EoLk.png'>
                    </div>
                    <div class='col-md-1-9-px-0'>
                        <a href="/"><img src='https://i.imgur.com/tXksJj5.png'></a>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-pr-0'>
                        <a href="/"><img src="https://i.imgur.com/ezIkcxv.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/ZrJL2d2.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/j4dYIFM.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/ezIkcxv.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/tRfyJC3.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/tRfyJC3.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/T78chLG.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/j4dYIFM.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/ezIkcxv.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/ezIkcxv.png"></a>
                    </div>
                    <div class='col-md-px-0'>
                        <a href="/"><img src="https://i.imgur.com/T78chLG.png"></a>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='row'>
                    店名
                </div>
                <br>
                <div class='row'>
                    <img
                        src="https://i0.wp.com/www.learneating.com/wp-content/uploads/2018/06/5adc05608baee7AA2A77EACAF2D1E2377E15464CAA17020180422.jpg?w=600&ssl=1" width="50%" height="50%">
                </div>
                <br>
                <div class='row'>
                    <button class="btn btn-primary">我要訂餐</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
