<nav class="navbar navbar-expand-lg" style="background-color: #f9c301;">

    <!-- logo -->
    <div class="col-lg-1 col-sm-2">
        <a class="navbar-brand ml-2" href="orderhome">
            <img src="https://i.imgur.com/naziJSq.png" style="width: 130px;">
        </a>
        <button class="navbar-toggler float-right mt-5" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation" style="background-color: white;">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="color:black; font-size:28px;"></i>
            </span>
        </button>
    </div>



    <!-- nav button -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="col ml-5 d-flex align-items-center">
            <ul class="navbar-nav">
                <a class="btn btn-outline-secondary ml-5 mt-3" role="button" href="orderhome"
                    style="font-size:25px; color:black; border-color:white;">首頁</a>
                <a class="btn btn-outline-secondary ml-5 mt-3" role="button" href="orderstatus"
                    style="font-size:25px; color:black; border-color:white;">訂單狀態</a>
                <a class="btn btn-outline-secondary ml-5 mt-3" role="button" href="orderstatus"
                    style="font-size:25px; color:black; border-color:white;">菜單管理</a>
                <a class="btn btn-outline-secondary ml-5 mt-3" role="button" href="orderstatus"
                    style="font-size:25px; color:black; border-color:white;">按鈕</a>
                <a class="btn btn-outline-secondary ml-5 mt-3" role="button" href="orderstatus"
                    style="font-size:25px; color:black; border-color:white;">按鈕</a>
            </ul>
        </div>
    </div>

</nav>
